* {
    margin: 0px;
    padding: 0%;
}
body {
   
    width: 100%;
    justify-content: space-around;
}

header {
    background-color: black;
    padding: 70px;
    min-width: 120px;


}

header h1 {
    color: white;
    text-align: center;

}

header p {
    text-align: center;
}

header a {
    color: white;

}

section.normal {
    
    font-size: 30px;
    padding: 40px;
    margin-bottom: 250px;
    font-weight: bold;
    line-height: 1.8em;
    margin: 50px 0px 50px 0px;

}
section.normal > p {

    
}


section.imagem {
   
    min-height: 320px;
    padding: 200px;
    background-image: url(imagens/background001.jpg);
    background-color: black;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;


}

section.imagem > p {
    
    min-width: 320px;
    display: flex;
    padding: 15px;
    position: relative;
    right: 50%;
    background-color: rgba(0, 0, 0, 0.322);
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 20px;
    line-height: 2em;
    justify-content: space-around;
   



}